.wrapper {
    background: var(--section-background);
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-areas: "add main main" "add search search";
}

.add-section {
    grid-area: add;
    justify-content: center;
}

.main-section {
    grid-area: main;
    align-self: flex-end;
    justify-self: flex-end;
}

.search-section {
    grid-area: search;
    align-self: flex-end;
    justify-self: flex-end;
}

@media only screen and (max-width: 900px) {
    .wrapper {
        grid-template-columns: 40% 1fr 1fr;
    }
    .fig-title {
        font-size: 1.3rem;
    }
    .fig-text {
        font-size: .8rem;
    }
}

@media only screen and (max-width: 706px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: "main" "add" "search";
    }
    .search-section {
        margin: 0 auto;
        max-width: 500px;
    }
    .add-form {
        margin: 0 auto;
        max-width: 500px;
    }
    .main-section {
        align-self: center;
        justify-self: center;
    }
    .search-section {
        max-width: 500px;
        margin: 0 auto;
    }
    .fig-color {
        height: 55px;
        width: 55px;
    }
    .fig-icon {
        height: 55px;
        width: 55px;
    }
    figcaption {
        text-align: center;
    }
    #productTable th:nth-child(5) {
        display: none;
    }
    #productTable td:nth-child(5) {
        display: none;
    }
    .primarybtn {
        display: none;
    }
    .smallbtn {
        display: initial;
    }
}

@media only screen and (max-width: 540px) {
    #productTable th:nth-child(3) {
        display: none;
    }
    #productTable td:nth-child(3) {
        display: none;
    }
    #productTable th:nth-child(4) {
        display: none;
    }
    #productTable td:nth-child(4) {
        display: none;
    }
}
