.wrapper{
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    grid-template-areas:
    "add main main"
    "add search search";
}
.add-section {
    grid-area: add;
    justify-content: center;
}
.main-section {
    grid-area: main;
    align-self: flex-end;
    justify-self: flex-end;
}
.search-section {
    grid-area: search;
    align-self: flex-end;
    justify-self: flex-end;
}

/* Input styling */
.input-wrapper {
    position: relative;
    display: grid;
    line-height: 14px;
    margin: 1rem;
}
.search-wrapper {
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 6px;
}
label {
    color: var(--hover-main);
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 14px;
    padding: 0 2px;
    pointer-events: none;
    background: #fff;
    transition: transform 100ms ease;
    transform: translateY(-20px);
}
input {
    font-size: 13px;
    color: var(--hover-main);
    outline: none;
    border: 1px solid var(--secondary-color);
    padding: 10px 20px;
    position: relative;
}
input:invalid + label {
    transform: translateY(0);
}
input:focus {
    border-color: var(--secondary-color);
}
input:focus + label {
    color: var(--text-dark);
    transform: translateY(-20px);
}
/* Search Sectionen */
