/* Telefon vyn */
@media only screen and (max-width: 690px) {
    .wrapper {
        /*Template areas ska in här sen för grid */
    }

    #productTable th:nth-child(5){
        display: none;
    }
    #productTable td:nth-child(5) {
        display: none;
    }
    .primarybtn{
        display: none;
    }
    .smallbtn{
        display: initial;
    }
}
@media only screen and (max-width: 540px) {
    .wrapper {
        /*Template areas ska in här sen för grid */
    }

    #productTable th:nth-child(3){
        display: none;
    }
    #productTable td:nth-child(3) {
        display: none;
    }
    #productTable th:nth-child(4){
        display: none;
    }
    #productTable td:nth-child(4) {
        display: none;
    }
}