* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    background: var(--background);
    --background: #413c3c;
    --main-color: #413c3c;
    --section-background: #5d5b5b;
    --hover-secondary: #545454;
    --secondary-color: #43ae19;
    --main-button: #43ae19;
    --table-button-delete: #038d0b;
    --text-main: #ffffff;
    --text-secondary: #000000;
    --table-background: #5d5b5b;
    --hover-main: #56b145;
    --table-tole-border: #2f2f2f;
    --table-bori-border: #3e3e3e;
    --table-button-cancel: #413c3c;
    --footer-text: #43ae19;
    --icon-color: grayscale(1) invert(1);
}

html.dark {
    --background: #F3F3F3;
    --main-color: #F3F3F3;
    --section-background: #FFFFFF;
    --hover-secondary: #e3e3e3;
    --secondary-color: #3498db;
    --main-button: #3498db;
    --text-main: #000000;
    --text-secondary: #FFFFFF;
    --table-button-delete: #0068ac;
    --table-background: #FFFFFF;
    --hover-main: #666;
    --table-tole-border: #d6d6d6;
    --table-bori-border: #c1c1c1;
    --table-button-cancel: #555555;
    --footer-text: #868c96;
    --icon-color: grayscale(0) invert(0);
}

body {
    background: var(--main-color);
    max-width: 1000px;
    margin: 0 auto;
}

footer {
    background: var(--main-color);
    color: var(--footer-text);
}

footer p {
    padding: 40px 0;
    text-align: center;
}

span {
    color: var(--secondary-color);
}

.alertBox {
    background: var(--secondary-color);
    color: #FFFFFF;
}
.alert-primary {
    border: none;
}

button:active,
button:focus,
button {
    border: none;
    cursor: pointer;
    outline: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.button {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    color: #FFF;
    border-radius: .25em;
    text-decoration: none;
}

.primarybtn {
    line-height: 40px;
    padding: 0 16px;
}

.smallbtn {
    display: none;
    line-height: 40px;
    width: 40px;
    text-align: center;
}

.search {
    background: var(--main-button);
    line-height: 40px;
    width: 40px;
    text-align: center;
}

.reset {
    background: var(--table-button-delete);
    line-height: 40px;
    width: 100%;
    justify-self: flex-end;
    text-align: center;
}

.delete {
    background: var(--table-button-delete);
    margin-right: 4px;
}

.edit {
    background: var(--main-button);
}

.add {
    background: var(--main-button);
}

.cancel {
    background: var(--table-button-cancel);
}

.no-border {
    border: none;
}

.border-right {
    border-right: solid thin var(--table-bori-border);
}

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.popup {
    height: auto;
    width: 80%;
    max-width: 18rem;
    margin: 5% auto;
    display: block;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    background: var(--section-background);
    border: 1px solid var(--secondary-color);
}

.loginform {
    width: 80%;
    max-width: 20rem;
    margin: 4rem auto;
    display: block;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    background: var(--section-background);
    border: 1px solid var(--secondary-color);
}

.logintitle {
    width: 100%;
    padding: .6rem;
    font-size: 1.2rem;
    display: block;
    background: var(--main-color);
    color: var(--text-main);
    font-weight: 700;
    text-align: center;
}

.logintitle p {
    margin: 0;
}

.title {
    width: 100%;
    display: block;
    background: var(--main-color);
    color: var(--secondary-color);
    font-weight: 700;
    padding: 5px;
}

.title p {
    margin: 5px;
}

.titlecolor {
    color: var(--secondary-color);
}

.alertBox {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: .7rem;
}

.fig-wrapper {
    margin: 0;
    padding: .8rem;
    display: flex;
    align-items: center;
    position: relative;
}

figcaption {
    color: var(--text-main);
    padding: 0 1rem;
    text-align: right;
}

.fig,
.fig>.fig-container {
    margin: 0 auto;
}

.fig>.fig-container>.fig-color,
.fig>.fig-container>.fig-icon {
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

.fig>.fig-container {
    justify-content: center;
    align-content: center;
}

.fig>.fig-container>.fig-icon {
    left: auto;
}

.fig-container {
    position: relative;
    display: flex;
}

.fig-title {
    color: var(--text-main);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}

.fig-text {
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1rem;
    letter-spacing: .2rem;
}

.fig-color {
    height: 80px;
    width: 80px;
    background: var(--secondary-color);
    border-radius: 100px;
    transition: background .3s ease-in-out;
    animation: fadeInFadeOut 2s infinite;
    position: relative;
}

.fig-icon {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeInFadeOut 4s infinite;
    filter: var(--icon-color);
}

@keyframes fadeInFadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Input styling */
.input-wrapper {
    background: var(--section-background);
    position: relative;
    display: grid;
    line-height: 14px;
    margin: 1rem;
}

.search-wrapper {
    grid-template-columns: 2fr 1fr;
    grid-gap: 5px;
    align-self: flex-end;
    justify-self: flex-end;
    margin-right: 6px;
}

label {
    color: var(--text-main);
    background: var(--section-background);
    font-size: 11px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 14px;
    padding: 0 2px;
    pointer-events: none;
    transition: transform 100ms ease;
    transform: translateY(-20px);
}

input {
    background: var(--section-background);
    font-size: 13px;
    color: var(--text-main);
    outline: none;
    border: 1px solid var(--secondary-color);
    padding: 10px 20px;
    position: relative;
}

input:invalid + label {
    transform: translateY(0);
    color: var(--text-main);
}

input:focus {
    border-color: var(--text-main);
}

input:focus + label {
    color: var(--text-main);
    transform: translateY(-20px);
}