:root {
    font-size: 16px;
    --main-color: #F3F3F3;
    --secondary-color: #3498db ;
    --text-dark: black;
    --text-light: white;
    --hover-main: #666;
    --table-bg-odd: #FFF;
    --table-bg-even: #FFF;
    --table-button-delete: #0068ac;
    --table-button-edit: #3498db ;
    --table-button-add: #3498db ;
    --table-button-search: #3498db;
    --table-button-cancel: #555555;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 1000px;
    margin: 0 auto;
}
footer {
    background: var(--main-color);
    color: #868c96;
}
footer p {
    padding: 40px 0;
    text-align: center;
}
span {
    color: var(--secondary-color);
}
button {
    border: none;
}
/* COMPONENTS */
.button {
    font-size: 16px;
    font-weight:400;
    display:inline-block;
    color:#FFF;
    border-radius: .25em;
    text-decoration: none;
}
.primarybtn {
    line-height:40px;
    padding: 0 16px;
}
.smallbtn {
    display: none;
    line-height:40px;
    width: 40px;
    text-align: center;
}
.search {
    background: var(--table-button-search);
    line-height:40px;
    width: 40px;
    text-align: center;
}
.reset{
    background: var(--table-button-delete);
    line-height: 40px;
    width: 100%;
    justify-self: flex-end;
    text-align: center;
}
.delete {
    background: var(--table-button-delete);
}
.edit {
    background: var(--table-button-edit);
}
.add {
    background: var(--table-button-add);
}
.cancel {
    background: var(--table-button-cancel);
}
.no-border {
    border: none;
}
.border-right{
    border-right: solid thin #C1C1C1;
}
#show{
    display: initial;
}
/*popup*/
.edit_popup{
    z-index: 150;
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    height:100vh;
    width:100vw;
    overflow:auto;
    background-color: rgba(0,0,0,0.6);
}
.popup{
    height:auto;
    width:80%;
    max-width:18rem;
    margin:5% auto;
    display:block;
    background: #fff;
    border-radius:8px;
    overflow:hidden;
}
.title{
    width:100%;
    display:block;
    background:var(--main-color);
    color:var(--secondary-color);
    font-weight:700;
    padding:5px;
}
.title p{
    margin:5px;
}
/* Card */
.fig-wrapper {
    margin: 0;
    padding: .8rem;
    display: flex;
    align-items: center;
    position: relative;
}
figcaption {
    padding: 0 1rem;
    text-align: right;
}
.fig-container {
    position: relative;
    display: flex;
}
.fig-title {
    color: var(--text-dark);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}
.fig-text{
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1rem;
    letter-spacing: .2rem;
}
.fig-color {
    height: 80px;
    width: 80px;
    background: var(--secondary-color);
    border-radius: 100px;
    transition: background .3s ease-in-out;
    animation: fadeInFadeOut 2s infinite;
    position: relative;
}
.fig-icon {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeInFadeOut 4s infinite;
}
@keyframes fadeInFadeOut {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}