#productTable {
    width: 100%;
    border-collapse: collapse;
    background: var(--table-background);
    color: var(--text-main);
}

#productTable th {
    height: 50px;
    background: var(--main-color);
    font-weight: 400;
    border-bottom: solid thin var(--table-bori-border);
    border-right: solid thin var(--table-bori-border);
    border-top: solid thin var(--table-tole-border);
    border-left: solid thin var(--table-tole-border);
}
#productTable tr {
    max-height: 50px;
}

.th-fill {
    color: var(--text-main);
    background: var(--main-color);
    width: 100%;
    text-align: left;
    height: 100%;
    padding: 6px;
}

.th-wh {
    width: 100%;
    height: 100%;
}

.th-c {
    text-align: center;
}

.th-fill:hover {
    background: var(--hover-secondary);
}

#productTable td {
    padding: 4px 6px;
    font-weight: 400;
    border-bottom: solid thin var(--table-bori-border);
    border-right: solid thin var(--table-bori-border);
    border-top: solid thin var(--table-tole-border);
    border-left: solid thin var(--table-tole-border);
}

#productTable td:nth-child(1) {
    color: var(--secondary-color);
    background: var(--main-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

#productTable th:nth-child(2),
#productTable th:nth-child(3),
#productTable th:nth-child(4),
#productTable th:nth-child(5) {
    text-align: left;
}

#productTable th:nth-child(1) {
    text-align: center;
}

#productTable td:nth-child(2) {
    text-transform: uppercase;
}

#productTable td:nth-child(6) {
    max-width: 100%;
    padding: 4px 0px 4px 6px;
    background-color: var(--main-color);
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
}
