<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/nav.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d82fdbf1c7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Administration System</title>
</head>
<header class="nav-container">
    <nav>
        <div class="nav-content">
            <h1 class="nav-content__logo">
                Zana<span class="nav-content__logo-color">Tech</span>
            </h1>
            <div class="nav-content__list">
                <!--Här kan ni lägga in fler länkar-->
                <div class="pointer">
                    <!--Ändra href så man loggar ut-->
                    <a href="#!" class="nav-content__list-link">Logout</a>
                    <i class="fas fa-sort-down pointer__icon"></i>
                </div>
            </div>
        </div>
    </nav>
</header>
<body>
    <h3>USERS</h3>
    <table id="userTable" class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Type</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr th:each="products : ${listProducts}">
            <td th:text="${products.id}">Product ID</td>
            <td th:text="${products.name}">Name</td>
            <td th:text="${products.type}">Type</td>
            <td th:text="${products.quantity}">Quantity</td>
            <td th:text="${products.price}">Price</td>
            <td>
                <a th:href="@{'/edit/' + ${products.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${products.id}}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>