<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="/css/nav.css" type="text/css" rel="stylesheet">
    <link href="/css/layout.css" type="text/css" rel="stylesheet">
    <link href="/css/table.css" type="text/css" rel="stylesheet">
    <link href="/css/mediaquerys.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d82fdbf1c7.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Administration System</title>
</head>
<header class="nav-container">
    <nav>
        <div class="nav-content">
            <h1 class="nav-content__logo">
                Zana<span class="nav-content__logo-color">Tech</span>
            </h1>
            <div class="nav-content__list">
                <!--Här kan ni lägga in fler länkar-->
                <div class="pointer">
                    <!--Ändra href så man loggar ut-->
                    <a href="#!" class="nav-content__list-link">Logout</a>
                    <i class="fas fa-sort-down pointer__icon"></i>
                </div>
            </div>
        </div>
    </nav>
</header>
<body>

<!-- Wrapper för Grid -->
<div class="wrapper">

    <div class="addProduct-section">
        <form action="#" th:action="@{/save}" th:object="${products}" method="post">
            <div class="input-wrapper">
                <input type="text" th:field="*{name}" id="prodName" required>
                <label for="prodName">Product Name</label>
            </div>
            <div class="input-wrapper">
                <input type="text" th:field="*{type}" id="prodType" required>
                <label for="prodType">Product Type</label>
            </div>
            <div class="input-wrapper">
                <input type="text" th:field="*{quantity}" id="prodQuantity" required>
                <label for="prodQuantity">Product Quantity</label>
            </div>
            <div class="input-wrapper">
                <input type="text" th:field="*{price}" id="prodPrice" required>
                <label for="prodPrice">Product Price</label>
            </div>
            <div class="input-wrapper">
                <button class="button primarybtn add" type="submit">Add Product</button>
                <button class="button smallbtn add" type="submit"><i class="fas fa-plus"></i></button>
            </div>
        </form>
    </div>

    <div class="search-section">
        <div class="input-wrapper">
            <input type="text" id="prodSearch">
            <label for="prodSearch">Product Search</label>
            <button type="submit" class="button search"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <div class="amount-section">
        <!-- Under construction -->
    </div>
</div>
<!--Grid end-->
<table id="productTable" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Product</th>
        <th>Type</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr th:each="products : ${listProducts}">
        <td th:text="${products.id}">Product ID</td>
        <td th:text="${products.name}">Name</td>
        <td th:text="${products.type}">Type</td>
        <td th:text="${products.quantity}">Quantity</td>
        <td th:text="${products.price}">Price</td>
        <td>
            <a class="button primarybtn edit" th:href="@{'/edit/' + ${products.id}}">Edit</a>
            <!-- Knapp för mobil -->
            <a class="button smallbtn edit" th:href="@{'/edit/' + ${products.id}}"><i class="fas fa-pen"></i></a>
            <a class="button primarybtn delete" th:href="@{'/delete/' + ${products.id}}">Delete</a>
            <!-- Knapp för mobil -->
            <a class="button smallbtn delete" th:href="@{'/delete/' + ${products.id}}"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
</table>
<footer>
    <p>ZanaTech &copy; 2020 - GIK2F7</p>
</footer>
</body>
</html>